# Basic python syntax

# 1.Back slash
                used for continuation

In [1]:
print("Hello
      python")

SyntaxError: EOL while scanning string literal (<ipython-input-1-c0be691d0cdb>, line 1)

In [3]:
print("Hello\
        python")

Hello        python

# 2.Tiple code

#  uses
        Make a doc string which means it doesn't use print and it doesn't print anything.
        To print the same code
        For sql statements

In [8]:
print("""Hello everyone""")

Hello everyone

# 3.String inside the code

In [9]:
print('Hello')

Hello

In [10]:
print("Hello")

Hello

In [11]:
print('python's world')

SyntaxError: invalid syntax (<ipython-input-11-3f3d487a621e>, line 1)

In [12]:
print("python's world")

python's world

# 4.Escape sequence of string

In [13]:
print('Hello \t world')

Hello 	 world

In [14]:
print('Hello \n world')

Hello
 world

In [15]:
print('python\'s world')

python's world

# 5.Formatted output

In [16]:
name="abc"
marks=90.2
age=30

print("The name of person is",name,"marks is",marks,"age is",age)

The name of person is abc marks is 90.2 age is 30

In [17]:
print("The name of person is %s marks is %f age is %d" %(name,marks,age))

The name of person is abc marks is 90.200000 age is 30

In [19]:
print("The name of person is %7s marks is %2f age is %10d" %(name,marks,age))

The name of person is     abc marks is 90.200000 age is         30

In [24]:
print(f"The name of person is {name} marks is {marks} age is {age}");

The name of person is abc marks is 90.2 age is 30

# Python variable and assignment statement

# Python variable:
        variable means linking of a data to a name
        variable refers to the memory location that contains the data

In [25]:
a=10

# In the above example a is the variable,10 is data and = is the assignment operator

# Rules to define a variable:
    1.A keyword cannot be used as a variable "if", "def", "for" are the reserve words. They cannot be used as variables

In [26]:
if=10

SyntaxError: invalid syntax (<ipython-input-26-d804dbd42c9d>, line 1)

In [27]:
if1=10

# 2.A variable can contain letters(upper case or lower case),numbers, underscore.

In [30]:
_2a=10

In [29]:
a10=20

# 3.Python is case sensitive, and hence variables are also case sensitive.

In [31]:
10a=20

SyntaxError: invalid syntax (<ipython-input-31-3b2001ca9f41>, line 1)

# 4.A variable cannot start with a number

# 5.A variable is assigned to data by using the assignment operator

In [32]:
x=20
id(x)

140720464372720

In [33]:
y=20
id(y)

140720464372720

In [34]:
del x

In [35]:
x

NameError: name 'x' is not defined

In [36]:
y

20

# Python Assignment Statement

In [38]:
x=y=z=10

In [39]:
x

10

In [40]:
y

10

In [41]:
z

10

# Python Operators

# 1.Arithmetic operators

In [42]:
5**3

125

In [43]:
10/2

5.0

In [44]:
10%3

1

In [45]:
10//3

3

In [46]:
10*4

40

In [47]:
10+23

33

In [48]:
10-12

-2

# 2.Comparision Operators

In [49]:
c=10
a==c

True

In [50]:
c<a

False

In [51]:
c>a

False

In [52]:
c>=a

True

In [53]:
c<=a

True

In [54]:
c!=a

False

# 3.Assignment Operators

In [57]:
a=10
b=a
b

10

# 4.Bitwise operators

In [65]:
2|4

6

In [66]:
2&4

0

# 5.Logical Operators

In [69]:
1|1

1

In [71]:
1&0

0

In [72]:
10>9 and 20>m

NameError: name 'm' is not defined

In [73]:
10<9 and 20>m

False

# 6.Membership Operators

In [74]:
str1="python"
"a" in str1

False

In [76]:
"y" in str1

True

In [77]:
"y" not in str1

False

# 7.Identity Operator

In [80]:
a=10
b=10
a==b
a is b

True

In [81]:
a=1.2
b=1.2
a==b
a is b

False

In [82]:
a is not b

True

# Operator Precedence

In [83]:
10*3/4

7.5

In [84]:
9+7*3-10

20